.endgame {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  padding: 2rem 0;
  width: 100%;
  background-color: #292425;
  gap: 1rem;
  &:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 10px;
    background-image: linear-gradient(transparent, #29242563);
  }
  .endgame-result {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    white-space: nowrap;
    flex: 1;
    svg {
      font-size: 2em;
    }
  }
}
