.board-container {
  padding-bottom: 4rem;
}
.board {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  &.disabled::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board-tile {
  background-color: #373737;
  border-radius: 4px;
  position: relative;
  transition: transform 100ms ease-in-out;

  &.hidden:not(.disabled) {
    cursor: pointer;
    &.inspecting {
      background-color: #4d4d4d;
      transform: scale(0.94);
    }
  }

  &.revealed {
    background-color: #8c8b8b;

    &.empty {
      background-color: #808080;
    }

    &.hasMine {
      color: black;
      background-color: #d04a4a;
    }

    &:not(.hasMine) {
      cursor: zoom-in;
    }
  }

  &.flagged {
    &:not(.disabled) {
      cursor: pointer;
      &.inspecting {
        background-color: #4d4d4d;
        transform: scale(0.94);
      }
    }
  }

  .board-tile-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.red {
  color: #a40000;
}
.blue {
  color: blue;
}
.dark-blue {
  color: rgb(2, 2, 119);
}
.green {
  color: green;
}
.yellow {
  color: #d68c02;
}

.endgame {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  width: 100%;
  background-color: #292425;
  & > a:first-of-type {
    margin-right: 1rem;
  }
  .endgame-result {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    white-space: nowrap;
    flex: 1;
    svg {
      font-size: 2em;
    }
  }
}
