@import "normalize-scss";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #292425;
  color: rgba(255, 255, 255, 0.699);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  max-width: 500px;
  padding: 0 1em;
}

button,
.button,
input {
  background-color: #342f30;
  color: rgba(255, 255, 255, 0.4);
  padding: 0.6rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  svg {
    font-size: 1.2em;
  }
  &.transparent {
    background-color: transparent;
  }
  &:focus {
    outline: none;
    color: #d68c02;
  }
  &:active:not(:disabled) {
    transform: translateY(1px);
    box-shadow: 0 -1px #00000059, 0 1px #7a571b47;
    background-image: linear-gradient(#00000012, transparent);
  }
  &:hover {
    filter: brightness(1.24) opacity(70%);
  }
}

.icon-text-group {
  display: flex;
}
.text-icon,
.icon-text {
  display: flex;
  align-items: center;
}
.icon-text {
  svg {
    padding-right: 0.5rem;
    font-size: 1.5em;
  }
  &.p-right {
    padding-right: 3rem;
  }
}
.text-icon {
  svg {
    padding-left: 0.5em;
  }
}
