.board {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  &.disabled::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.199);
  }
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board-tile {
  background-color: #373737;
  border-radius: 4px;
  position: relative;

  &.hidden:not(.disabled) {
    cursor: pointer;
    &.inspecting {
      background-color: #ffffffbd;
    }
  }

  &.shown {
    background-color: #8c8b8b;

    &.empty {
      background-color: #808080;
    }

    &.hasMine {
      color: black;
      background-color: #d04a4a;
    }

    &:not(.hasMine) {
      cursor: zoom-in;
    }
  }

  &.flagged {
    &:not(.disabled) {
      cursor: pointer;
      &.inspecting {
        background-color: #ffffff52;
      }
    }
  }

  &.test {
    background-color: blue !important;
  }

  .board-tile-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.red {
  color: #a40000;
}
.blue {
  color: blue;
}
.dark-blue {
  color: rgb(2, 2, 119);
}
.green {
  color: green;
}
.yellow {
  color: #d68c02;
}

.endgame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .endgame-modal {
    padding: 4rem 0;
    width: 100%;
    max-width: 80%;
    background-color: #292425;
    box-shadow: 0 5px 30px #171515;
    .endgame-result {
      display: flex;
      justify-content: center;
      font-size: 2rem;
      padding-bottom: 3rem;
      svg {
        font-size: 3em;
      }
    }
    .endgame-actions {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}
