.play-button-wrapper {
  display: flex;
  justify-content: center;

  .play-button {
    background-color: #d68c02;
    color: #342f30;
    display: inline-flex;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.8rem 1.6rem;
    svg {
      font-size: 1.5rem;
      color: #342f30;
    }
    &:focus {
      color: #342f30 !important;
      box-shadow: 0 1px 10px 0px #d68c026e !important;
    }
    &:active {
      box-shadow: 0 1px 10px 0px #d68c026e !important;
    }
    &:hover {
      filter: brightness(1.2) opacity(80%);
    }
  }
}
