.results-title {
  display: flex;
  align-items: center;
  svg {
    margin-right: 0.5em;
  }
}

.play-again-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.clear-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.8rem;
  .clear-btn {
    font-size: 0.8rem;
    padding: 0.2rem 0.6rem;
  }
}
