.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3em;

  .sectionTitle {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    svg {
      margin-right: 0.5em;
    }
  }

  .sectionBody {
    display: flex;
    justify-content: center;

    &.username {
      display: flex;
      flex-direction: column;
      input {
        flex: 1;
        font-size: 1rem;
      }
      small {
        color: #d68c02;
        font-size: 0.76em;
        text-align: right;
        padding: 0.5rem 0;
        opacity: 0.8;
        cursor: default;
        &.hidden {
          opacity: 0;
          visibility: none;
        }
      }
    }

    &.level {
      gap: 1.5em;
      button {
        flex: 1;
        display: flex;
        justify-content: center;
        &.selected {
          box-shadow: 0 0 0 1px #d68c02;
        }
      }
    }
  }
}

.playBtnWrapper {
  display: flex;
  justify-content: center;
  padding-top: 2em;

  .playBtn {
    background-color: #d68c02;
    color: #342f30;
    display: inline-flex;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.8rem 1.6rem;
    svg {
      font-size: 1.5em;
      color: #342f30;
    }
    &:focus {
      color: #342f30 !important;
      box-shadow: 0 1px 20px 0px #d68c02a6;
    }
    &:disabled {
      filter: opacity(70%);
      cursor: not-allowed;
    }
  }
}
